<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Watch videos</title>
    <link rel="icon" href="/icons/siteicon.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

</head>

<body class="text-white bg-dark">

    <div id="main" class="container-fluid mt-1 mb-1">
        <hr>
        <div id="compayTitle" class="text-center">
            <div class="display-3">Thunder BD</div>
        </div>
        <hr>
        <div class="bg-danger text-white h3 p-1">
            ভিডিওটি দেখতে থাকুন কাজ সম্পন্ন হলে automatically আমরা হোমে চলে যাব।
            <span class="bg-warning"> please press play button if video doesn't start automatically.</span>
        </div>
        <div class="text-center">
            <iframe width="300" height="300"
                src="https://www.youtube.com/embed/<%= vidId  %>?controls=0&autoplay=1&mute=1" 
                frameborder="0"
                allow=" autoplay;"></iframe>
        </div>

        
        <footer class="text-center mt-5">
            <small><strong>Thunder™© 2023</strong></small>
        </footer>

    </div>

    <div id="notMobile" style="display: none;" class=" m-2 display-1">
        Sorry you can only work with mobile phone in our site
    </div>

    <script>

        if (Number(window.innerWidth) > 500) {
            // not mobile screen
            document.getElementById("main").style.display = "none";
            document.getElementById("notMobile").style.display = "block";
        }
        else {
            document.getElementById("main").style.display = "block";
            document.getElementById("notMobile").style.display = "none";
        }

        // quit after delay
        setTimeout(()=>{
            document.getElementById("main").innerHTML = `<h1 class="p-2">View complete please wait...</h1>`;
            location.href = "/increaseMoneyVideo"
        },15100);


    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>

</html>